@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Kanit', sans-serif;
}

header {
    padding: 20px;
    display: flex;
    align-items: center;
}

.MENU {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.gallery1 {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

#section-5 {
    width: 100%;
}
.logo img {
    width: 100px;
    height: auto;
    display: block;
}
h2 {
    text-align: center;
    letter-spacing: -1px;
}
.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.row img {
    width: 200px;
    height: auto;
    margin: 5px;
}
.team {
    display: flex;
    flex-direction: column;
}

.team img {
    height: 200px;
}

.team h1 {
    text-align: center;
}

.ceo {
    display: flex;
    flex-direction: column;
}

.column img {
    border-radius: 12px;
}

.ceo img {
    height: 200px;
}

.ceo h1 {
    text-align: center;
}

.column {
    width: 33.33%;
    padding: 5px;
    box-sizing: border-box;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    align-items: center;
    width: 150px;
}

body {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin: 0;
    background-color: lightgray;
}

section ul {
    list-style: none;
    display: flex;
    align-items: center;
}

section li {
    margin: 0 15px;
}

section p {
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.thenia {
    display: flex;
    justify-content: center;
}

.thenia p {
    font-size: 24px;
    color: #030303;
    font-family: "Kanit", sans-serif;
}

#section-4 {
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.main-logo {
    mix-blend-mode: multiply;
    border: 0px;
}

.nav-links li a {
    color: #030303;
    text-decoration: none;
}

#slideshow {
    width: 100%;
    height: 500px;
    border-radius: 12px;
}

.contact2-container {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact2-container h3 {
    text-align: center;
    margin: 0px !important;
}

.contact-info-container {
    margin-top: 12px;
}

.contact-info-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-form-container {
    max-width: 350px;
    margin: 0 auto;
    padding: 24px;
    width: 100%;
    display: flex;
    background-color: white;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;
}

.login-page-container {
    width: 100%;
    padding-bottom: 100px;
}

.login-form-container input {
    border: 0;
    padding: 8px 10px;
    background-color: transparent;
    border-bottom: 2px solid black;
}


.login-form-container textarea {
    border: 0;
    padding: 8px 10px;
    background-color: transparent;
    border-bottom: 2px solid black;
}

.login-form-container-input {
    display: flex;
    flex-direction: column;
}

.login-form-container button {
    padding: 10px;
}

.nav-register-button {
    padding: 10px 15px !important;
    background-color: black !important;
    color: white !important;
    border-radius: 8px !important;
    cursor: pointer;
}

.about-us-container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.about-us-container p {
    line-height: 30px;
}

.hamburger-menu-icon {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/* Mobile CSS */
@media (max-width: 640px) {
    .main-navigation {
        justify-content: space-between;
    }

    .main-navigation nav {
        height: 100vh;
        width: 100%;
        display: none;
        position: absolute;
        top: 206px;
        left: 0;
        background-color: lightgray;
    }

    .nav-links {
        padding: 0;
    }

    .main-navigation nav ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px 0px;
    }

    .hamburger-menu-icon {
        display: flex;
        background-color: transparent;
        border: none;
        flex-direction: column;
        gap: 4px 0px;
        cursor: pointer;
    }

    .hamburger-menu-icon span {
        width: 25px;
        height: 2px;
        background-color: black;
    }

    .thenia {
       padding: 0 4px;
    }

    .thenia p {
        font-size: 18px;
        text-align: center;
    }

    #kontenti header img {
        height: 300px;
        object-fit: cover;
    }

    .MENU .row {
        flex-direction: column;
    }

    .MENU .column {
        width: 100%;
    }

    .MENU .column img {
        width: 100%;
        height: 300px;
        margin: 0px;
    }

    #section-4 {
        flex-direction: column;
        gap: 25px 0;
    }

    #section-5 .gallery1 {
        max-width: 100%;
        width: 100%;
        padding: 0 4px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: flex-start;
        gap: 0px;
    }

    #section-6 {
        padding: 0px 4px;
    }

    .contact1 h1 {
        font-size: 22px;
    }

    .contact1 h2 {
        font-size: 20px;
    }

    .contact2-container h3 {
        font-size: 14px;
    }

    .contact-info-container {
        display: flex;
        flex-direction: column;
        gap: 40px 0;
    }

    .contact-info-item {
        flex-direction: column;
    }

    .contact-info-item h2 {
        padding: 0px !important;
        margin: 0 !important;
    }

    .about-us-container p {
        /* width: 100%; */
        padding: 0px 10px;
    }

    .login-page-container {
        padding: 0 10px;
    }

    .login-form-container {
        width: 100%;
    }
}